USE [master]
GO
/****** Object:  Database [db_Community_Medicine_Bangladesh]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE DATABASE [db_Community_Medicine_Bangladesh]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Community_Medicine_Bangladesh', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_Community_Medicine_Bangladesh.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'db_Community_Medicine_Bangladesh_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\db_Community_Medicine_Bangladesh_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_Community_Medicine_Bangladesh].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_Community_Medicine_Bangladesh]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CenterDiseases]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenterDiseases](
	[CenterDiseaseId] [int] IDENTITY(1,1) NOT NULL,
	[CenterId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CenterDiseases] PRIMARY KEY CLUSTERED 
(
	[CenterDiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CenterMedicines]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CenterMedicines](
	[CenterMedicineId] [int] IDENTITY(1,1) NOT NULL,
	[MedicineQuantity] [int] NOT NULL,
	[CenterId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.CenterMedicines] PRIMARY KEY CLUSTERED 
(
	[CenterMedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Centers]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Centers](
	[CenterId] [int] IDENTITY(1,1) NOT NULL,
	[Password] [nvarchar](max) NULL,
	[ThanaId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Centers] PRIMARY KEY CLUSTERED 
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiseaseMedicines]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiseaseMedicines](
	[DiseaseMedicineId] [int] IDENTITY(1,1) NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.DiseaseMedicines] PRIMARY KEY CLUSTERED 
(
	[DiseaseMedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Diseases]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diseases](
	[DiseaseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[TreatmentProcedure] [nvarchar](max) NULL,
	[PreferredDrugs] [nvarchar](max) NULL,
	[Treatments] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Diseases] PRIMARY KEY CLUSTERED 
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Districts]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Population] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Districts] PRIMARY KEY CLUSTERED 
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Doctors]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctors](
	[DoctorId] [int] IDENTITY(1,1) NOT NULL,
	[Degree] [nvarchar](max) NULL,
	[Speciality] [nvarchar](max) NULL,
	[CenterId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Doctors] PRIMARY KEY CLUSTERED 
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Medicines]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medicines](
	[MedicineId] [int] IDENTITY(1,1) NOT NULL,
	[GenericName] [nvarchar](max) NULL,
	[Quantity] [float] NOT NULL,
	[QuantityUnit] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Medicines] PRIMARY KEY CLUSTERED 
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Patients]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[PatientId] [int] IDENTITY(1,1) NOT NULL,
	[Age] [float] NOT NULL,
	[ContactInfo] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[VoterId] [bigint] NOT NULL,
	[CenterId] [int] NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Patients] PRIMARY KEY CLUSTERED 
(
	[PatientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Prescriptions]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prescriptions](
	[PrescriptionId] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[VoterId] [bigint] NOT NULL,
	[Observation] [nvarchar](max) NULL,
	[Dose] [nvarchar](max) NULL,
	[BeforeAfter] [nvarchar](max) NULL,
	[QuantityGiven] [int] NOT NULL,
	[Note] [nvarchar](max) NULL,
	[DoctorId] [int] NOT NULL,
	[DiseaseId] [int] NOT NULL,
	[MedicineId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Prescriptions] PRIMARY KEY CLUSTERED 
(
	[PrescriptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Thanas]    Script Date: 2/7/2015 10:08:17 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Thanas](
	[ThanaId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[DistrictId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Thanas] PRIMARY KEY CLUSTERED 
(
	[ThanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Centers] ON 

INSERT [dbo].[Centers] ([CenterId], [Password], [ThanaId], [Name]) VALUES (2, N'123456', 1, N'Sylhet')
INSERT [dbo].[Centers] ([CenterId], [Password], [ThanaId], [Name]) VALUES (3, N'987654', 10, N'Barisal')
SET IDENTITY_INSERT [dbo].[Centers] OFF
SET IDENTITY_INSERT [dbo].[Districts] ON 

INSERT [dbo].[Districts] ([DistrictId], [Name], [Population]) VALUES (1, N'Bagerhat', 101477)
INSERT [dbo].[Districts] ([DistrictId], [Name], [Population]) VALUES (2, N'Bandarban', 253256)
INSERT [dbo].[Districts] ([DistrictId], [Name], [Population]) VALUES (3, N'Barguna', 360763)
SET IDENTITY_INSERT [dbo].[Districts] OFF
SET IDENTITY_INSERT [dbo].[Thanas] ON 

INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictId]) VALUES (1, N'Sylhet Sadar', 62)
INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictId]) VALUES (2, N'Agailjhara', 4)
INSERT [dbo].[Thanas] ([ThanaId], [Name], [DistrictId]) VALUES (3, N'Babuganj', 4)
SET IDENTITY_INSERT [dbo].[Thanas] OFF
/****** Object:  Index [IX_CenterId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CenterId] ON [dbo].[CenterDiseases]
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiseaseId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_DiseaseId] ON [dbo].[CenterDiseases]
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CenterId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CenterId] ON [dbo].[CenterMedicines]
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[CenterMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_ThanaId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_ThanaId] ON [dbo].[Centers]
(
	[ThanaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiseaseId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_DiseaseId] ON [dbo].[DiseaseMedicines]
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[DiseaseMedicines]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CenterId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CenterId] ON [dbo].[Doctors]
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CenterId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_CenterId] ON [dbo].[Patients]
(
	[CenterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiseaseId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_DiseaseId] ON [dbo].[Prescriptions]
(
	[DiseaseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DoctorId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_DoctorId] ON [dbo].[Prescriptions]
(
	[DoctorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_MedicineId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_MedicineId] ON [dbo].[Prescriptions]
(
	[MedicineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DistrictId]    Script Date: 2/7/2015 10:08:17 PM ******/
CREATE NONCLUSTERED INDEX [IX_DistrictId] ON [dbo].[Thanas]
(
	[DistrictId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CenterDiseases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CenterDiseases_dbo.Centers_CenterId] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([CenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenterDiseases] CHECK CONSTRAINT [FK_dbo.CenterDiseases_dbo.Centers_CenterId]
GO
ALTER TABLE [dbo].[CenterDiseases]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CenterDiseases_dbo.Diseases_DiseaseId] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([DiseaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenterDiseases] CHECK CONSTRAINT [FK_dbo.CenterDiseases_dbo.Diseases_DiseaseId]
GO
ALTER TABLE [dbo].[CenterMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CenterMedicines_dbo.Centers_CenterId] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([CenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenterMedicines] CHECK CONSTRAINT [FK_dbo.CenterMedicines_dbo.Centers_CenterId]
GO
ALTER TABLE [dbo].[CenterMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CenterMedicines_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CenterMedicines] CHECK CONSTRAINT [FK_dbo.CenterMedicines_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Centers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Centers_dbo.Thanas_ThanaId] FOREIGN KEY([ThanaId])
REFERENCES [dbo].[Thanas] ([ThanaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Centers] CHECK CONSTRAINT [FK_dbo.Centers_dbo.Thanas_ThanaId]
GO
ALTER TABLE [dbo].[DiseaseMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseaseMedicines_dbo.Diseases_DiseaseId] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([DiseaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiseaseMedicines] CHECK CONSTRAINT [FK_dbo.DiseaseMedicines_dbo.Diseases_DiseaseId]
GO
ALTER TABLE [dbo].[DiseaseMedicines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.DiseaseMedicines_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiseaseMedicines] CHECK CONSTRAINT [FK_dbo.DiseaseMedicines_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Doctors_dbo.Centers_CenterId] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([CenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Doctors] CHECK CONSTRAINT [FK_dbo.Doctors_dbo.Centers_CenterId]
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Patients_dbo.Centers_CenterId] FOREIGN KEY([CenterId])
REFERENCES [dbo].[Centers] ([CenterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_dbo.Patients_dbo.Centers_CenterId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescriptions_dbo.Diseases_DiseaseId] FOREIGN KEY([DiseaseId])
REFERENCES [dbo].[Diseases] ([DiseaseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_dbo.Prescriptions_dbo.Diseases_DiseaseId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescriptions_dbo.Doctors_DoctorId] FOREIGN KEY([DoctorId])
REFERENCES [dbo].[Doctors] ([DoctorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_dbo.Prescriptions_dbo.Doctors_DoctorId]
GO
ALTER TABLE [dbo].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Prescriptions_dbo.Medicines_MedicineId] FOREIGN KEY([MedicineId])
REFERENCES [dbo].[Medicines] ([MedicineId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Prescriptions] CHECK CONSTRAINT [FK_dbo.Prescriptions_dbo.Medicines_MedicineId]
GO
ALTER TABLE [dbo].[Thanas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictId] FOREIGN KEY([DistrictId])
REFERENCES [dbo].[Districts] ([DistrictId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Thanas] CHECK CONSTRAINT [FK_dbo.Thanas_dbo.Districts_DistrictId]
GO
USE [master]
GO
